# Python virtual environments
venv/
.venv/
env/

# Sensitive environment variables
.env

# Byte-compiled / cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / Editor settings
.vscode/
.idea/

# Database / OS files
*.sqlite3
.DS_Store